<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:theme="@style/Theme.ELAKOkulum"
        android:label="ELAK Okulum"
        android:icon="@drawable/ic_elak_okulum"
        android:roundIcon="@drawable/ic_elak_okulum"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".rehber.IncomingCallerActivity"
            android:exported="false"
            android:excludeFromRecents="true" />

        <activity
            android:name=".rehber.RehberActivity"
            android:exported="false" />

        <service
            android:name=".rehber.CallerIdService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".rehber.MissedCallNotificationService"
            android:label="ELAK Cevapsız Arama Tanıma"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
