<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:theme="@style/Theme.ELAKOkulum"
        android:label="ELAK Okulum"
        android:icon="@drawable/ic_elak_okulum"
        android:roundIcon="@drawable/ic_elak_okulum"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".izin.IzinActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".izin.IzinActivity88"
            android:exported="false"
            android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".rehber.IncomingCallerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <activity android:name=".rehber.RehberActivity" android:exported="false" />
        <activity android:name=".rehber.RehberActivity81" android:exported="false" />
        <activity android:name=".rehber.RehberActivity82" android:exported="false" android:launchMode="singleTop" />
        <activity android:name=".rehber.RehberActivity84" android:exported="false" android:launchMode="singleTop" />

        <service
            android:name=".rehber.CallerIdService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
